<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Finanças{% endblock %}</title>
</head>
<body>
    <nav>
        <a href="{% url 'home' %}">Home</a> |
        <a href="{% url 'finance:index' %}">Finanças</a> |
        <a href="{% url 'finance:account_list' %}">Contas</a> |
        <a href="{% url 'finance:beneficiary_list' %}">Beneficiários</a> |
        <a href="{% url 'finance:category_list' %}">Categorias</a> |
        <a href="{% url 'finance:transaction_list' %}">Transações</a> |
        <a href="{% url 'finance:scheduler_list' %}">Agendamentos</a> |
        <a href="{% url 'finance:asset_list' %}">Ativos</a> |
        <a href="{% url 'finance:asset_transaction_list' %}">Transações de Ativos</a> |
        Relatórios:
        <a href="{% url 'finance:reports_index' %}">Relatórios</a> |
        <a href="{% url 'finance:account_statement' %}">Extrato de Contas</a>
    </nav>
    
    <main>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>

