<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Finanças{% endblock %}</title>
</head>
<body>
    <nav>
        <a href="{% url 'home' %}">Home</a> |
        <a href="{% url 'finance:index' %}">Finanças</a> |
        <a href="{% url 'finance:account_list' %}">Contas</a> |
        <a href="{% url 'finance:beneficiary_list' %}">Beneficiários</a> |
        <a href="{% url 'finance:category_list' %}">Categorias</a>
    </nav>
    
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>

