{% extends 'finance/base.html' %}

{% block title %}Finanças - Início{% endblock %}

{% block content %}
<h1>Finanças</h1>
<p>Bem-vindo à aplicação de Finanças.</p>
<ul>
    <li><a href="{% url 'finance:account_list' %}">Contas</a></li>
    <li><a href="{% url 'finance:beneficiary_list' %}">Beneficiários</a></li>
    <li><a href="{% url 'finance:category_list' %}">Categorias</a></li>
    <li><a href="{% url 'finance:transaction_list' %}">Transações</a></li>
    <li><a href="{% url 'finance:scheduler_list' %}">Agendamentos</a></li>
    <li><a href="{% url 'finance:asset_list' %}">Ativos</a></li>
    <li><a href="{% url 'finance:asset_transaction_list' %}">Transações de Ativos</a></li>
    <li><a href="{% url 'finance:asset_position_list' %}">Posições de Ativos</a></li>
</ul>
{% endblock %}


